
.movie-seach{
   font-size: 24px; 
   border: 2px solid;
   border-radius: 16px;
   height: 42px;
   font-size: 14px;
   margin-left: 60px;
}
.wrape-movie{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box-movie{
    width: 350px;
    background-color: #ffffff;
    color: black;
    border-radius: 20px;
}

.txt-title{
    font-size: 26px;
    font-weight: bold;
}

.btn-detail{
    padding: 2px 39px;
    background: #ffbaba;
    border: 2px solid;
    border-radius: 28px;
    margin: auto;
}